@import "./reset.scss";
@import "./globalStyle.scss";



@media all and (max-width: 1200px){


  .body--header {
    padding: 0 20px;
  
    nav {
      padding: 42px 0;
  
      .nav--logo {
        font-size: 1em;
      }
  
    }
   
    .header--content {
      padding-top: 15px; 
      margin-bottom: 40px; 
      flex-direction: column-reverse;
      align-items: center;    
      gap:45px;   
   
      
      .section-first {  
        flex-direction: column; 
        width: 100%;
        padding-right: 0;  
        gap:10px; 
   
        .header--content-title {  
          p { 
            font-size: 35px; 
          }
        }
       
  
      .header--conntent-footer { 
        width: 100%;
      }
  
      .header-content-subinfo {
        padding-right: 60%;
      }

    }

    .section-second {
      max-width: 100%;
      img{display: none;}
      .tablet{
        display: block;
      }
    }
    }
  }

  .body--content-features{
    padding: 20px;
    .features--title{
      width: 60%;
    }
    .features--lists{
      flex-direction: column;
    }

    .feature--list{
      width: 100%;
    }
  }

  .body--content-customers {
    padding: 20px;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    .customers--title{
      width: 100%;
    }

  }

  .body--price{
    padding: 20px;
    gap:20px;
    .price-title{
      text-align: center;
      margin: 0;
      padding: 10px;
      margin-bottom: 20px;
    }
    .price--app{
      max-width: 100%;
    }
  }
  
}


@media all and (max-width: 639px){

  .twitter--btn{
    width: 100%;
    justify-content: center;
  }

  .body--header {
    padding: 0 20px;
  
    nav {
      padding: 42px 0;
  
      .nav--logo {
        font-size: 1em;
      }
  
      .nav--menu {
        display: none;
      }
      .hamburger--menu {
        display: block;
    }
    }
  
    .header--content {
      padding-top: 15px;
      margin-bottom: 40px;
      flex-direction: column-reverse;
      align-items: center;
      gap:45px;
  
  
      .section-first {
        flex-direction: column;
        width: 100%;
        padding-right: 0;
        gap:10px;
  
        .header--content-title {
          p {
            font-size: 35px;
          }
        }
      
        .header--content-btn{
          flex-direction: column;
        }
  
      .header--conntent-footer {
        width: 100%;
      }
  
      .header-content-subinfo {
        padding-right: 0;
      }

    }

    .section-second {
      max-width: 91%;
      img{display: block;}
      .tablet{
        display: none;
      }
    }
    }
  }

  .body--content-features{
    padding: 20px;
    .features--title{
      width: 60%;
    }
    .features--lists{
      flex-direction: column;
    }

    .feature--list{
      width: 100%;
    }
  }

  .body--content-customers {
    padding: 20px;
    .customers--title{
      width: 100%;
    }
    .customers--lists{
      flex-direction: column;
      .customer--list{
        width: 100%;
      }
    }
  }

  .body--price{
    padding: 20px;
    gap:20px;
    .price-title{
      text-align: center;
      margin: 0;
      padding: 10px;
      margin-bottom: 20px;
    }
    .price--app{
      max-width: 100%;
    }
  }
  .body--footer{
    footer{
      flex-direction: column;
      padding: 20px;
      align-items: flex-start;
      gap:10px;
    }
  }
  
}
 
